body {
  overflow-y: scroll;
  overflow-x: hidden;
}


.top-full-row {
  font-family: 'Nunito Sans', sans-serif!important;
}

/* HEADER BANNER */

.not-front .region-top-full-row {
  position: relative;
}

.backpages-banner-wrapper,
.view-backpage-banner .views-field-field-images > .field-content {
  position: relative;
  margin-bottom: 0;
}

.backpages-banner-wrapper:before,
.view-backpage-banner .views-field-field-images > .field-content:before {
  content: "";
  background-color: rgba(39,36,68,0.7);
  position: absolute;
  height: 100%;
  width: 100%;
}

.backpages-banner-wrapper .img-wrap img,
.view-backpage-banner .views-field-field-images > .field-content .img-wrap img {
  height: 150px;
  object-fit: cover;
  object-position: left;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container {
  max-width: 1200px;
  width: 100%;
}

.backpages-banner-wrapper .container,
.view-backpage-banner .views-field-field-images > .field-content .container {
  padding: 0;
}


h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}


.backpages-banner-wrapper h1.title,
.view-backpage-banner .views-field-field-images > .field-content h1.title {
  position: absolute;
  top: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff !important;
  align-items: center;
  margin: 0;
  padding: 0 15px;
}

.not-front h1.title {
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  padding: 50px 0 30px;
  color: #983738;
  text-transform: uppercase;
}

.backpages-banner-wrapper h1.title span,
.view-backpage-banner .views-field-field-images > .field-content h1.title span {
  margin-left: 8px;
}

.not-front .block-system-breadcrumb-block {
  margin: 0 auto 25px;
  max-width: 1200px;
  width: 100%;
  background: #EEE;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

ol, ul, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

.not-front .block-system-breadcrumb-block ol {
  background: transparent;
  margin: 0;
}

.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: #e9ecef;
  border-radius: 0.25rem;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

.breadcrumb {
  font-size: 0.929em;
}

.not-front .block-system-breadcrumb-block ol li.breadcrumb-item {
  text-transform: uppercase;
  font-size: 8px;
}

.not-front .block-system-breadcrumb-block ol li.breadcrumb-item.active,
.not-front .block-system-breadcrumb-block ol li.breadcrumb-item:before {
  color: #983738;
}

.not-front .block-system-breadcrumb-block ol li.breadcrumb-item a {
  color: #983738;
  font-weight: 700;
  font-size: 8px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}


.not-front .block-system-breadcrumb-block ol .breadcrumb-item + .breadcrumb-item::before {
  padding-right: 3px;
}

.breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  padding-right: 0.5rem;
  color: #6c757d;
  content: "/";
}

.not-front .block-system-breadcrumb-block ol li.breadcrumb-item.active,
.not-front .block-system-breadcrumb-block ol li.breadcrumb-item:before {
  color: #983738;
}


.not-front .block-system-breadcrumb-block ol .breadcrumb-item + .breadcrumb-item {
  padding-left: 3px;
}

.breadcrumb-item + .breadcrumb-item {
  padding-left: 0.5rem;
}

.breadcrumb-item.active {
  color: #6c757d;
}

@media (min-width: 560px) {
  .not-front h1.title {
    font-size: 25px;
    line-height: 33px;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .backpages-banner-wrapper .img-wrap img,
  .view-backpage-banner .views-field-field-images > .field-content .img-wrap img {
    height: auto;
    object-fit: unset;
    object-position: unset;
  }

  .container {
    max-width: 720px;
  }

  .backpages-banner-wrapper .container,
  .view-backpage-banner .views-field-field-images > .field-content .container {
    padding: 0 15px;
  }

  .backpages-banner-wrapper h1.title {
    padding: 0;
  }

  .backpages-banner-wrapper h1.title span,
  .view-backpage-banner .views-field-field-images > .field-content h1.title span {
    margin-left: 15px;
  }

  .not-front .block-system-breadcrumb-block ol li.breadcrumb-item {
    font-size: 12px;
  }

  .not-front .block-system-breadcrumb-block ol li.breadcrumb-item a {
    font-size: 12px;
  }


}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  .backpages-banner-wrapper,
  .view-backpage-banner .views-field-field-images > .field-content {
    margin-bottom: 50px;
  }

  .not-front .block-system-breadcrumb-block {
    margin: 0 auto;
    position: absolute;
    left: 60px;
    right: 0;
    bottom: 15px;
    background: transparent;
  }

  .not-front .block-system-breadcrumb-block ol li.breadcrumb-item a {
    color: #FFF;
  }

  .not-front .block-system-breadcrumb-block ol li.breadcrumb-item.active,
  .not-front .block-system-breadcrumb-block ol li.breadcrumb-item:before {
    color: #FFF;
  }


}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }

  .backpages-banner-wrapper h1.title,
  .view-backpage-banner .views-field-field-images > .field-content h1.title {
    padding: 0;
  }

  .not-front h1.title {
    letter-spacing: 5px;
  }

  .not-front h1.title {
    font-size: 36px;
    line-height: 45px;
  }
}

@media (min-width: 1366px) {
  .not-front .block-system-breadcrumb-block {
    bottom: 30px;
  }
}



/* Careers */
.not-front .font-light {
  font-weight: 300;
}

.not-front .font-big {
  font-size: 18px;
  line-height: 25px;
}

.not-front .container-auto {
  margin: 0 auto 50px;
}

div {
  max-width: 100%;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

p, p:last-of-type {
  margin-bottom: 0;
}



.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

div.row {
  max-width: none;
}


.col-1, .col-2, .col-3, .col-4, .col-5,
.col-6, .col-7, .col-8, .col-9, .col-10,
.col-11, .col-12, .col, .col-auto, .col-sm-1,
.col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5,
.col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9,
.col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3,
.col-md-4, .col-md-5, .col-md-6, .col-md-7,
.col-md-8, .col-md-9, .col-md-10, .col-md-11,
.col-md-12, .col-md, .col-md-auto, .col-lg-1,
.col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5,
.col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9,
.col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3,
.col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7,
.col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11,
.col-xl-12, .col-xl, .col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.path-careers .career-item {
  margin-bottom: 30px;
}

.path-careers .career-item a {
  font-size: 18px;
  font-weight: 600;
  color: #4c4c4c;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}


.path-careers .career-item a:hover {
  text-decoration: none;
  color: #983738;
  margin-left: 10px;
}


.path-careers .career-item a {
  font-size: 18px;
  font-weight: 600;
  color: #4c4c4c!;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}



.path-careers .career-item a:hover i {
  margin-left: 10px;
  visibility: visible;
  opacity: 1;
  color: #983738;
}


.path-careers .career-item a i {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-left: 0;
  margin-top: -3px;
  visibility: hidden;
  opacity: 0;
  font-size: 30px;
}

@media (min-width: 576px) {
  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .not-front .font-big {
    font-size: 21px;
    line-height: 30px;
  }

  .path-careers .career-item a {
    font-size: 25px!important;
  }
}

@media (min-width: 1200px) {
  .not-front .container-auto {
    max-width: 830px;
    margin: 0 auto 100px;
  }
}


/* PARAGRAPH */
.paragraph.paragraph--type--image-and-text .field--name-field-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
