body {
  overflow-y: scroll;
  overflow-x: hidden;
}

.top-full-row {
  font-family: 'Nunito Sans', sans-serif!important;
}

/* HEADER BANNER */

.not-front .region-top-full-row {
  position: relative;
}

.backpages-banner-wrapper,
.view-backpage-banner .views-field-field-images > .field-content {
  position: relative;
  margin-bottom: 0;
}

.backpages-banner-wrapper:before,
.view-backpage-banner .views-field-field-images > .field-content:before {
  content: "";
  background-color: rgba(39,36,68,0.7);
  position: absolute;
  height: 100%;
  width: 100%;
}

.backpages-banner-wrapper .img-wrap img,
.view-backpage-banner .views-field-field-images > .field-content .img-wrap img {
  height: 150px;
  object-fit: cover;
  object-position: left;
}

.backpages-banner-wrapper .container,
.view-backpage-banner .views-field-field-images > .field-content .container {
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}


.backpages-banner-wrapper h1.title,
.view-backpage-banner .views-field-field-images > .field-content h1.title {
  position: absolute;
  top: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff !important;
  align-items: center;
  margin: 0;
  padding: 0 15px;
}

.not-front h1.title {
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  padding: 50px 0 30px;
  color: #983738;
  text-transform: uppercase;
}

.backpages-banner-wrapper h1.title span,
.view-backpage-banner .views-field-field-images > .field-content h1.title span {
  margin-left: 8px;
}

.not-front .block-system-breadcrumb-block {
  margin: 0 auto 25px;
  max-width: 1200px;
  width: 100%;
  background: #EEE;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

ol, ul, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

.not-front .block-system-breadcrumb-block ol {
  background: transparent;
  margin: 0;
}

.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: #e9ecef;
  border-radius: 0.25rem;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

.breadcrumb {
  font-size: 0.929em;
}

.not-front .block-system-breadcrumb-block ol li.breadcrumb-item {
  text-transform: uppercase;
  font-size: 8px;
}

.not-front .block-system-breadcrumb-block ol li.breadcrumb-item.active,
.not-front .block-system-breadcrumb-block ol li.breadcrumb-item:before {
  color: #983738;
}

.not-front .block-system-breadcrumb-block ol li.breadcrumb-item a {
  color: #983738;
  font-weight: 700;
  font-size: 8px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}


.not-front .block-system-breadcrumb-block ol .breadcrumb-item + .breadcrumb-item::before {
  padding-right: 3px;
}

.breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  padding-right: 0.5rem;
  color: #6c757d;
  content: "/";
}

.not-front .block-system-breadcrumb-block ol li.breadcrumb-item.active,
.not-front .block-system-breadcrumb-block ol li.breadcrumb-item:before {
  color: #983738;
}


.not-front .block-system-breadcrumb-block ol .breadcrumb-item + .breadcrumb-item {
  padding-left: 3px;
}

.breadcrumb-item + .breadcrumb-item {
  padding-left: 0.5rem;
}

.breadcrumb-item.active {
  color: #6c757d;
}


@media (min-width: 560px) {
  .not-front h1.title {
    font-size: 25px;
    line-height: 33px;
  }
}

@media (min-width: 768px) {
  .backpages-banner-wrapper .img-wrap img,
  .view-backpage-banner .views-field-field-images > .field-content .img-wrap img {
    height: auto;
    object-fit: unset;
    object-position: unset;
  }

  .backpages-banner-wrapper .container,
  .view-backpage-banner .views-field-field-images > .field-content .container {
    padding: 0 15px;
  }

  .backpages-banner-wrapper h1.title {
    padding: 0;
  }

  .backpages-banner-wrapper h1.title span,
  .view-backpage-banner .views-field-field-images > .field-content h1.title span {
    margin-left: 15px;
  }

  .not-front .block-system-breadcrumb-block ol li.breadcrumb-item {
    font-size: 12px;
  }

  .not-front .block-system-breadcrumb-block ol li.breadcrumb-item a {
    font-size: 12px;
  }


}

@media (min-width: 992px) {
  .backpages-banner-wrapper,
  .view-backpage-banner .views-field-field-images > .field-content {
    margin-bottom: 50px;
  }

  .not-front .block-system-breadcrumb-block {
    margin: 0 auto;
    position: absolute;
    left: 60px;
    right: 0;
    bottom: 15px;
    background: transparent;
  }

  .not-front .block-system-breadcrumb-block ol li.breadcrumb-item a {
    color: #FFF;
  }

  .not-front .block-system-breadcrumb-block ol li.breadcrumb-item.active,
  .not-front .block-system-breadcrumb-block ol li.breadcrumb-item:before {
    color: #FFF;
  }


}

@media (min-width: 1200px) {
  .backpages-banner-wrapper h1.title,
  .view-backpage-banner .views-field-field-images > .field-content h1.title {
    padding: 0;
  }

  .not-front h1.title {
    letter-spacing: 5px;
  }

  .not-front h1.title {
    font-size: 36px;
    line-height: 45px;
  }
}

@media (min-width: 1366px) {
  .not-front .block-system-breadcrumb-block {
    bottom: 30px;
  }
}


/* MAIN WRAPPER */

  .not-front .layout-main-wrapper {
    margin-bottom: 100px;
  }

  .not-front .layout-main-wrapper {
    margin-bottom: 50px;
  }

  .flex-grow-1 {
    flex-grow: 1 !important;
  }

  div {
    max-width: 100%;
  }

  .hidden {
    display: none;
  }

  .layout--twocol-bricks {
    display: flex;
    flex-wrap: wrap;
  }

  .layout--twocol-bricks > .layout__region {
    flex: 0 1 100%;
  }

  .clearfix::after {
    display: block;
    clear: both;
    content: "";
  }

/* TAXONOMY */
.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px,1px,1px,1px);
  width: 1px;
  height: 1px;
  word-wrap: normal;
}

div {
  max-width: 100%;
}

.paragraph.paragraph--type--image-and-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  flex-direction: column-reverse;
}

.paragraph.image-right {
  flex-direction: row-reverse;
}

.paragraph.paragraph--type--image-and-text .field--name-field-image {
  margin-top: 15px;
}

.paragraph.paragraph--type--image-and-text .field--name-field-image,
.paragraph.paragraph--type--image-and-text .field--name-field-content {
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

.paragraph.paragraph--type--image-and-text .field--name-field-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.paragraph.paragraph--type--image-and-text .field--name-field-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  text-align: justify;
}

.paragraph.image-right .field--name-field-content {
  padding-top: 15px;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

p, p:last-of-type {
  margin-bottom: 0;
}



@media (min-width: 768px) {
  .paragraph {
    text-align: justify;
  }
}

@media (min-width: 992px) {
  .paragraph.paragraph--type--image-and-text {
    flex-direction: row-reverse;
  }

  .paragraph.paragraph--type--image-and-text .field--name-field-image {
    margin-top: 0;
  }

  .paragraph.paragraph--type--image-and-text .field--name-field-image,
  .paragraph.paragraph--type--image-and-text .field--name-field-content {
    width: 50%;
  }

  .paragraph.image-right .field--name-field-content {
    padding-right: 30px;
    padding-top: 0;
  }
}

/* TECHNOLOGY PARTNERS */

  div {
    max-width: 100%;
  }

  .block-views-blockclient-and-partners-block-technology-partners-asp .view-header {
    text-align: center;
  }

  .layout--onecol .layout__region {
    width: 100%;
  }

  .views-field-field-logos .field-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .views-field-field-logos .field-content .img-wrap {
    width: 50%;
    margin-bottom: 15px;
    text-align: center;
  }

  img {
    max-width: 100%;
    height: auto;
  }
  img {
    vertical-align: middle;
    border-style: none;
  }

  .views-field-field-logos .field-content .img-wrap img {
    max-width: 130px;
  }

  .views-field-field-logos img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }

  .block-branches {
    padding-top: 50px;
  }

  .block h2 {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: normal;
    color: #983738;
    font-weight: 800;
    letter-spacing: 3px;
  }

  .paragraph.paragraph--type--multiple-blocks {
    margin-top: 50px;
  }

  .paragraph.paragraph--type--multiple-blocks > .field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -15px;
    max-width: none;
  }

  .paragraph.paragraph--type--multiple-blocks > .field > .field__item {
    padding: 0 15px;
    margin-bottom: 30px;
  }

  .block-branches .paragraph--type--multiple-blocks > .field__items > .field__item {
    width: 100%;
  }

  .paragraph.paragraph--type--multiple-blocks > .field > .field__item .paragraph--type--blocks {
    height: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .bordered-box.paragraph--type--multiple-blocks .paragraph--type--blocks,
  .bordered-box.paragraph--type--text-only {
    border: 1px solid #DDDDDD;
    padding: 30px;
  }

  .paragraph .field--name-field-title {
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 8px;
    color: #282649;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: left;
  }

  .clearfix::after {
    display: block;
    clear: both;
    content: "";
  }

  @media (min-width: 560px) {
    .views-field-field-logos .field-content .img-wrap {
      width: 33.33%;
    }

    .block h2 {
      font-size: 25px;
      line-height: 33px;
    }
  }

  @media (min-width: 768px) {
    .views-field-field-logos .field-content .img-wrap img {
      max-width: 100%;
    }

    .block-branches {
      padding-top: 100px;
    }

    .block h2 {
      margin-bottom: 30px;
      letter-spacing: 5px;
      font-weight: 400;
    }

    .paragraph {
      text-align: justify;
    }

    .paragraph.paragraph--type--multiple-blocks {
      margin-top: 50px;
    }

    .block-branches .paragraph--type--multiple-blocks > .field__items > .field__item {
      width: 50%;
    }

    .paragraph .field--name-field-title {
      font-size: 24px;
      line-height: 24px;
      margin-bottom: 15px;
    }
  }

  @media (min-width: 992px) {
    .views-field-field-logos .field-content .img-wrap {
      width: 20%;
    }
  }

  @media (min-width: 1200px) {
    .views-field-field-logos .field-content .img-wrap {
      width: 16.66%;
      margin-bottom: 50px;
    }

    .block h2 {
      font-size: 36px;
      line-height: 45px;
    }
  }


  #block-views-technology-partners.block h2 {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: normal;
    color: #983738;
    font-weight: 800;
    letter-spacing: 3px;
  }


  @media (min-width: 560px) {
    #block-views-technology-partners.block h2 {
      font-size: 25px;
      line-height: 33px;
    }
  }

  @media (min-width: 768px) {
    #block-views-technology-partners.block h2 {
      margin-bottom: 30px;
      letter-spacing: 5px;
      font-weight: 400;
    }
  }

  @media (min-width: 1200px) {
    #block-views-technology-partners.block h2 {
      font-size: 36px;
      line-height: 45px;
    }
  }


/* OUR SERVICES */
  #block-views-our-services .block h2 {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: normal;
    color: #983738;
    font-weight: 800;
    letter-spacing: 3px;
  }

  @media (min-width: 560px) {
    #block-views-our-services .block h2 {
      font-size: 25px;
      line-height: 33px;
    }
  }

  @media (min-width: 1200px) {
    #block-views-our-services .block h2 {
      font-size: 36px;
      line-height: 45px;
    }
  }

  @media (min-width: 768px) {
    #block-views-our-services .block h2 {
      margin-bottom: 30px;
      letter-spacing: 5px;
      font-weight: 400;
    }
  }

  .view-services {
    background-color: #282649;
    align-items: center;
  }

  .block-views-our-services .view-services > .view-content, .block-views-our-services-for-page .view-services > .view-content {
    table-layout: fixed;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    background: #282649;
  }

  .block-views-our-services .view-services > .view-content .services-item,
  .block-views-our-services-for-page .view-services > .view-content .services-item {
    display: block;
    width: 100%;
    color: #FFF;
    overflow: hidden;
    position: relative;
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
  }

  .edit-link {
    position: relative;
    z-index: 999;
  }

  .block-views-our-services .view-services > .view-content .services-item .services-item-container,
  .block-views-our-services-for-page .view-services > .view-content .services-item .services-item-container {
    padding: 50px;
  }

  .block-views-our-services .view-services > .view-content .services-item .views-field-field-icon,
  .block-views-our-services-for-page .view-services > .view-content .services-item .views-field-field-icon {
      text-align: center;
      margin-bottom: 15px;
  }

  .block-views-our-services .view-services > .view-content .services-item .views-field-field-icon img,
  .block-views-our-services-for-page .view-services > .view-content .services-item .views-field-field-icon img {
    max-width: 75px;
  }

  .block-views-our-services .view-services > .view-content .services-item .views-field-name,
  .block-views-our-services-for-page .view-services > .view-content .services-item .views-field-name {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5px;
    padding: 0 10px 15px;
  }


  .block-views-our-services .view-services > .view-content .services-item .views-field-name a,
  .block-views-our-services-for-page .view-services > .view-content .services-item .views-field-name a {
    font-weight: 100;
    color: #FFF;
    font-size: 18px;
    padding: 0 5px;
    text-decoration: none;
  }

  .block-views-our-services .view-services > .view-content .services-item .views-field-description__value,
  .block-views-our-services .view-services > .view-content .services-item .views-field-field-short-description,
  .block-views-our-services .view-services > .view-content .services-item .views-field-block-description,
  .block-views-our-services-for-page .view-services > .view-content .services-item .views-field-description__value,
  .block-views-our-services-for-page .view-services > .view-content .services-item .views-field-field-short-description,
  .block-views-our-services-for-page .view-services > .view-content .services-item .views-field-block-description {
    font-size: 1em;
    color: #FFF;
    line-height: 1.55em;
    padding: 0 10px 15px;
    position: relative;
    margin: 0 auto;
    pointers-event: none;
    text-align: center;
  }


  .text-align-center {
    text-align: center;
  }

  .block-views-our-services .view-services > .view-content .services-item .services-body-arrow,
  .block-views-our-services-for-page .view-services > .view-content .services-item .services-body-arrow {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    padding-top: 0;
    position: relative;
  }

  .block-views-our-services .view-services > .view-content .services-item .services-body-arrow img,
  .block-views-our-services-for-page .view-services > .view-content .services-item .services-body-arrow img {
    width: 100%;
    max-width: 80px;
    height: 45px;
    -webkit-transition: all 0.2 ease-in-out;
    -o-transition: all 0.2 ease-in-out;
    transition: all 0.2 ease-in-out;
  }



  @media (min-width: 768px) {
    .block-views-our-services .view-services > .view-content .services-item,
    .block-views-our-services-for-page .view-services > .view-content .services-item {
      display: flex;
      flex-wrap: wrap;
      width: 50%;
    }
  }

  @media (min-width: 992px) {
    .block-views-our-services .view-services > .view-content, .block-views-our-services-for-page .view-services > .view-content {
      display: table;
      flex-wrap: unset;
    }

    .block-views-our-services .view-services > .view-content .services-item,
    .block-views-our-services-for-page .view-services > .view-content .services-item {
      display: table-cell;
      width: 25%;
      height: 200px;
    }

    .block-views-our-services .view-services > .view-content .services-item:hover,
    .block-views-our-services-for-page .view-services > .view-content .services-item:hover {
      width: 50%;
      background-color: #1f1d38;
      cursor: pointer;
    }

    .block-views-our-services .view-services > .view-content .services-item .services-item-container,
    .block-views-our-services-for-page .view-services > .view-content .services-item .services-item-container {
      position: relative;
      top: 40%;
      left: 0;
      padding: 0;
      -ms-transform: translate(0,-12px);
      -webkit-transform: translate(0,-12px);
      transform: translate(0,-12px);
      transition: transform .3s ease-out;
    }

    .block-views-our-services .view-services > .view-content .services-item:hover .services-item-container,
    .block-views-our-services-for-page .view-services > .view-content .services-item:hover .services-item-container {
      -ms-transform: translate(0,-35px);
      -webkit-transform: translate(0,-35px);
      transform: translate(0,-35px);
    }

    .block-views-our-services .view-services > .view-content .services-item .views-field-field-icon img,
    .block-views-our-services-for-page .view-services > .view-content .services-item .views-field-field-icon img {
      max-width: 80px;
    }

    .block-views-our-services .view-services > .view-content .services-item .views-field-description__value,
    .block-views-our-services .view-services > .view-content .services-item .views-field-field-short-description,
    .block-views-our-services .view-services > .view-content .services-item .views-field-block-description,
    .block-views-our-services-for-page .view-services > .view-content .services-item .views-field-description__value,
    .block-views-our-services-for-page .view-services > .view-content .services-item .views-field-field-short-description,
    .block-views-our-services-for-page .view-services > .view-content .services-item .views-field-block-description {
      opacity: 0;
      top: 35px;
      max-width: 600px;
    }

    .block-views-our-services .view-services > .view-content .services-item:hover .views-field-description__value,
    .block-views-our-services .view-services > .view-content .services-item:hover .views-field-field-short-description,
    .block-views-our-services .view-services > .view-content .services-item:hover .views-field-block-description,
    .block-views-our-services-for-page .view-services > .view-content .services-item:hover .views-field-description__value,
    .block-views-our-services-for-page .view-services > .view-content .services-item:hover .views-field-field-short-description,
    .block-views-our-services-for-page .view-services > .view-content .services-item:hover .views-field-block-description {
      opacity: 1;
      top: 25px;
      -ms-transform: translate(0,-25%);
      -webkit-transform: translate(0,-25%);
      transform: translate(0,-25%);
      transition: opacity 0.3s ease-out 0.3s,top 0.3s ease-out 0.3s;
    }

    .block-views-our-services .view-services > .view-content .services-item .services-body-arrow,
    .block-views-our-services-for-page .view-services > .view-content .services-item .services-body-arrow {
      visibility: hidden;
      opacity: 0;
      left: -20px;
    }

    .block-views-our-services .view-services > .view-content .services-item:hover .services-body-arrow,
    .block-views-our-services-for-page .view-services > .view-content .services-item:hover .services-body-arrow {
      opacity: 1;
      height: 100%;
      visibility: visible;
      left: 0;
      transition: opacity 0.3s ease-out 0.3s,left 0.3s ease-out 0.3s;
    }

    .block-views-our-services .view-services > .view-content .services-item .services-body-arrow img,
    .block-views-our-services-for-page .view-services > .view-content .services-item .services-body-arrow img {
      opacity: 0;
    }

    .block-views-our-services .view-services > .view-content .services-item:hover .services-body-arrow img,
    .block-views-our-services-for-page .view-services > .view-content .services-item:hover .services-body-arrow img {
      opacity: 1;
    }
  }

  @media (min-width: 1024px) {
    .block-views-our-services .view-services > .view-content .services-item .views-field-name a,
    .block-views-our-services-for-page .view-services > .view-content .services-item .views-field-name a {
      font-size: 20px;
    }
  }

  @media (min-width: 1200px) {
    .block-views-our-services .view-services > .view-content .services-item,
    .block-views-our-services-for-page .view-services > .view-content .services-item {
      height: 470px;
    }

    .block-views-our-services .view-services > .view-content .services-item:hover .services-item-container,
    .block-views-our-services-for-page .view-services > .view-content .services-item:hover .services-item-container {
      -ms-transform: translate(0,-110px);
      -webkit-transform: translate(0,-110px);
      transform: translate(0,-110px);
    }

    .block-views-our-services .view-services > .view-content .services-item .views-field-field-icon img,
    .block-views-our-services-for-page .view-services > .view-content .services-item .views-field-field-icon img {
      max-width: 97px;
    }

    .block-views-our-services .view-services > .view-content .services-item .views-field-name,
    .block-views-our-services-for-page .view-services > .view-content .services-item .views-field-name {
      padding: 0 0 15px;
    }
  }


/* OUR NATIONWIDE PRESENCE */
  .block-views-blockbranch-block-domestic-branch, .block-views-blockbranch-block-branch-map-asp {
    position: relative;
    padding: 50px 0;
  }

  .block-views-blockbranch-block-domestic-branch h2,
  .block-views-blockbranch-block-domestic-branch p,
  .block-views-blockbranch-block-branch-map-asp h2,
  .block-views-blockbranch-block-branch-map-asp p {
    color: #ffffff;
  }

  #block-views-domestic-branch.block h2 {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: normal;
    color: #ffffff;
    font-weight: 800;
    letter-spacing: 3px;
  }

  @media (min-width: 768px) {
    .block-views-blockbranch-block-domestic-branch, .block-views-blockbranch-block-branch-map-asp {
      padding: 150px 0;
    }

    #block-views-domestic-branch.block h2 {
      margin-bottom: 30px;
      letter-spacing: 5px;
      font-weight: 400;
    }
  }

  @media (min-width: 1200px) {
    #block-views-domestic-branch.block h2 {
      font-size: 36px;
      line-height: 45px;
    }
  }

  @media (min-width: 560px) {
    #block-views-domestic-branch.block h2 {
      font-size: 25px;
      line-height: 33px;
    }
  }

  .block-views-blockbranch-block-domestic-branch ._block-bg-container,
  .block-views-blockbranch-block-branch-map-asp ._block-bg-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
    z-index: -1;
    background-size: cover;
    background-position: center;
  }

  .block-views-blockbranch-block-domestic-branch ._block-bg-container:before,
  .block-views-blockbranch-block-branch-map-asp ._block-bg-container:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #18182d;
    opacity: 0.7;
  }

  .container {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
  }

  .block-views-blockbranch-block-domestic-branch .container,
  .block-views-blockbranch-block-branch-map-asp .container {
    max-width: 600px;
  }

  .container {
    max-width: 1200px;
    width: 100%;
  }

  .block-views-blockbranch-block-domestic-branch .view-branch, .block-views-blockbranch-block-branch-map-asp .view-branch {
    overflow: hidden;
  }

  .hidden {
    display: none;
  }

  .block-views-blockbranch-block-domestic-branch .custom-block-text, .block-views-blockbranch-block-branch-map-asp .custom-block-text {
    margin-bottom: 30px;
  }

  .text-center {
    text-align: center !important;
  }

  .block-views-blockbranch-block-domestic-branch h2,
  .block-views-blockbranch-block-domestic-branch p,
  .block-views-blockbranch-block-branch-map-asp h2,
  .block-views-blockbranch-block-branch-map-asp p {
    color: #ffffff;
  }

  p, p:last-of-type {
    margin-bottom: 0;
  }

  .clearfix:after {
    display: table;
    clear: both;
    content: "";
  }

  .clearfix::after {
    display: block;
    clear: both;
    content: "";
  }


  .block-views-blockbranch-block-domestic-branch .view-map-wrapper,
  .block-views-blockbranch-block-branch-map-asp .view-map-wrapper {
    background: #F4F4F4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    max-width: 922px;
    margin: 0 auto;
  }

  .block-views-blockbranch-block-domestic-branch .map-image,
  .block-views-blockbranch-block-branch-map-asp .map-image {
    width: 100%;
    flex-grow: 1;
    text-align: center;
  }

  .block-views-blockbranch-block-domestic-branch .map-image .map-image-wrapper,
  .block-views-blockbranch-block-branch-map-asp .map-image .map-image-wrapper {
    width: auto;
    display: inline-block;
    position: relative;
  }

  .block-views-blockbranch-block-domestic-branch .map-image img,
  .block-views-blockbranch-block-branch-map-asp .map-image img {
    width: auto;
    height: auto;
  }

  .block-views-blockbranch-block-domestic-branch .map-image span,
  .block-views-blockbranch-block-branch-map-asp .map-image span {
    display: block;
    height: 18px;
    width: 15px;
    background: url('/storage/nationwide_presence/red_pin.svg') center no-repeat;
    position: absolute;
  }

  .block-views-blockbranch-block-domestic-branch .map-image span.map-69,
  .block-views-blockbranch-block-branch-map-asp .map-image span.map-69 {
    top: 35%;
    left: 40%;
  }

  .block-views-blockbranch-block-domestic-branch .map-image span.map-67,
  .block-views-blockbranch-block-branch-map-asp .map-image span.map-67 {
    top: 32%;
    left: 34%;
  }

  .block-views-blockbranch-block-domestic-branch .map-image span.map-76,
  .block-views-blockbranch-block-branch-map-asp .map-image span.map-76 {
    top: 44%;
    right: 30%;
  }

  .block-views-blockbranch-block-domestic-branch .map-image span.map-63,
  .block-views-blockbranch-block-branch-map-asp .map-image span.map-63 {
    top: 20%;
    left: 51%;
  }

  .block-views-blockbranch-block-domestic-branch .map-image span.map-68,
  .block-views-blockbranch-block-branch-map-asp .map-image span.map-68 {
    top: 38%;
    right: 51%;
  }

  .block-views-blockbranch-block-domestic-branch .map-image span.map-62,
  .block-views-blockbranch-block-branch-map-asp .map-image span.map-62 {
    top: 16%;
    left: 42%;
  }

  .block-views-blockbranch-block-domestic-branch .map-image span.map-74,
  .block-views-blockbranch-block-branch-map-asp .map-image span.map-74 {
    bottom: 24%;
    right: 5%;
  }

  .block-views-blockbranch-block-domestic-branch .map-image span.map-66,
  .block-views-blockbranch-block-branch-map-asp .map-image span.map-66 {
    top: 65%;
    right: 23%;
  }

  .block-views-blockbranch-block-domestic-branch .map-image span.map-73,
  .block-views-blockbranch-block-branch-map-asp .map-image span.map-73 {
    bottom: 16%;
    right: 3%;
  }

  .block-views-blockbranch-block-domestic-branch .map-image span.map-77,
  .block-views-blockbranch-block-branch-map-asp .map-image span.map-77 {
    top: 53%;
    right: 13%;
  }

  .block-views-blockbranch-block-domestic-branch .map-image span.map-61,
  .block-views-blockbranch-block-branch-map-asp .map-image span.map-61 {
    top: 27%;
    left: 31%;
  }

  .block-views-blockbranch-block-domestic-branch .map-image span.map-65,
  .block-views-blockbranch-block-branch-map-asp .map-image span.map-65 {
    top: 65%;
    left: 15%;
  }

  .block-views-blockbranch-block-domestic-branch .map-image span.map-64,
  .block-views-blockbranch-block-branch-map-asp .map-image span.map-64 {
    top: 75%;
    right: 33%;
  }

  .block-views-blockbranch-block-domestic-branch .map-image span.map-75,
  .block-views-blockbranch-block-branch-map-asp .map-image span.map-75 {
    bottom: 20%;
    right: 15%;
  }

  .block-views-blockbranch-block-domestic-branch .map-image span.map-72,
  .block-views-blockbranch-block-branch-map-asp .map-image span.map-72 {
    bottom: 10%;
    right: 17%;
  }

  .block-views-blockbranch-block-domestic-branch .map-image span.map-71,
  .block-views-blockbranch-block-branch-map-asp .map-image span.map-71 {
    bottom: 17%;
    right: 20%;
  }

  .block-views-blockbranch-block-domestic-branch .map-image span.map-70,
  .block-views-blockbranch-block-branch-map-asp .map-image span.map-70 {
    top: 57%;
    left: 55%;
  }

  .block-views-blockbranch-block-domestic-branch .map-image .marker-static-1,
  .block-views-blockbranch-block-branch-map-asp .map-image .marker-static-1 {
    top: 22%;
    left: 40%;
  }

  .block-views-blockbranch-block-domestic-branch .map-image .marker-static-2,
  .block-views-blockbranch-block-branch-map-asp .map-image .marker-static-2 {
    top: 26%;
    left: 45%;
  }

  .block-views-blockbranch-block-domestic-branch .map-image .marker-static-3,
  .block-views-blockbranch-block-branch-map-asp .map-image .marker-static-3 {
    top: 46%;
    left: 41%;
  }

  .block-views-blockbranch-block-domestic-branch .map-contents,
  .block-views-blockbranch-block-branch-map-asp .map-contents {
    width: 100%;
    background: #282649;
    color: #FFF;
    min-height: 650px;
    max-height: 650px;
    overflow-y: hidden !important;
  }

  .block-views-blockbranch-block-domestic-branch .map-contents .map-content-wrapper,
  .block-views-blockbranch-block-branch-map-asp .map-contents .map-content-wrapper {
    padding: 30px;
  }


  .block-views-blockbranch-block-domestic-branch .map-contents .map-content-wrapper > div,
  .block-views-blockbranch-block-branch-map-asp .map-contents .map-content-wrapper > div {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #FFF;
  }

  .block-views-blockbranch-block-domestic-branch .map-contents .map-content-wrapper > div,
  .block-views-blockbranch-block-branch-map-asp .map-contents .map-content-wrapper > div {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #FFF;
  }

  @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }

  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }

    .block-views-blockbranch-block-domestic-branch .custom-block-text,
    .block-views-blockbranch-block-branch-map-asp .custom-block-text {
      margin-bottom: 50px;
    }

    .block-views-blockbranch-block-domestic-branch .map-image img,
    .block-views-blockbranch-block-branch-map-asp .map-image img {
      height: 630px;
    }

    .block-views-blockbranch-block-domestic-branch .map-image span,
    .block-views-blockbranch-block-branch-map-asp .map-image span {
      height: 28px;
    }
  }

  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }

    .block-views-blockbranch-block-domestic-branch .container,
    .block-views-blockbranch-block-branch-map-asp .container {
      max-width: 1200px;
    }

    .block-views-blockbranch-block-domestic-branch .map-image,
    .block-views-blockbranch-block-branch-map-asp .map-image {
      width: auto;
    }

    .block-views-blockbranch-block-domestic-branch .map-contents,
    .block-views-blockbranch-block-branch-map-asp .map-contents {
      max-width: 370px;
    }
  }

  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }
