body {
  overflow-y: scroll;
  overflow-x: hidden;
}


.top-full-row {
  font-family: 'Nunito Sans', sans-serif!important;
}

/* HEADER BANNER */

.not-front .region-top-full-row {
  position: relative;
}

.backpages-banner-wrapper,
.view-backpage-banner .views-field-field-images > .field-content {
  position: relative;
  margin-bottom: 0;
}

.backpages-banner-wrapper:before,
.view-backpage-banner .views-field-field-images > .field-content:before {
  content: "";
  background-color: rgba(39,36,68,0.7);
  position: absolute;
  height: 100%;
  width: 100%;
}

.backpages-banner-wrapper .img-wrap img,
.view-backpage-banner .views-field-field-images > .field-content .img-wrap img {
  height: 150px;
  object-fit: cover;
  object-position: left;
}

.container {
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
}

.container {
  max-width: 1200px;
  width: 100%;
}

.backpages-banner-wrapper .container,
.view-backpage-banner .views-field-field-images > .field-content .container {
  padding: 0;
}




h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}


.backpages-banner-wrapper h1.title,
.view-backpage-banner .views-field-field-images > .field-content h1.title {
  position: absolute;
  top: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff !important;
  align-items: center;
  margin: 0;
  padding: 0 15px;
}

.not-front h1.title {
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  padding: 50px 0 30px;
  color: #983738;
  text-transform: uppercase;
}

.backpages-banner-wrapper h1.title span,
.view-backpage-banner .views-field-field-images > .field-content h1.title span {
  margin-left: 8px;
}

.not-front .block-system-breadcrumb-block {
  margin: 0 auto 25px;
  max-width: 1200px;
  width: 100%;
  background: #EEE;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

ol, ul, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

.not-front .block-system-breadcrumb-block ol {
  background: transparent;
  margin: 0;
}

.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: #e9ecef;
  border-radius: 0.25rem;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

.breadcrumb {
  font-size: 0.929em;
}

.not-front .block-system-breadcrumb-block ol li.breadcrumb-item {
  text-transform: uppercase;
  font-size: 8px;
}

.not-front .block-system-breadcrumb-block ol li.breadcrumb-item.active,
.not-front .block-system-breadcrumb-block ol li.breadcrumb-item:before {
  color: #983738;
}

.not-front .block-system-breadcrumb-block ol li.breadcrumb-item a {
  color: #983738;
  font-weight: 700;
  font-size: 8px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}


.not-front .block-system-breadcrumb-block ol .breadcrumb-item + .breadcrumb-item::before {
  padding-right: 3px;
}

.breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  padding-right: 0.5rem;
  color: #6c757d;
  content: "/";
}

.not-front .block-system-breadcrumb-block ol li.breadcrumb-item.active,
.not-front .block-system-breadcrumb-block ol li.breadcrumb-item:before {
  color: #983738;
}


.not-front .block-system-breadcrumb-block ol .breadcrumb-item + .breadcrumb-item {
  padding-left: 3px;
}

.breadcrumb-item + .breadcrumb-item {
  padding-left: 0.5rem;
}

.breadcrumb-item.active {
  color: #6c757d;
}

@media (min-width: 560px) {
  .not-front h1.title {
    font-size: 25px;
    line-height: 33px;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .backpages-banner-wrapper .img-wrap img,
  .view-backpage-banner .views-field-field-images > .field-content .img-wrap img {
    height: auto;
    object-fit: unset;
    object-position: unset;
  }

  .container {
    max-width: 720px;
  }

  .backpages-banner-wrapper .container,
  .view-backpage-banner .views-field-field-images > .field-content .container {
    padding: 0 15px;
  }

  .backpages-banner-wrapper h1.title {
    padding: 0;
  }

  .backpages-banner-wrapper h1.title span,
  .view-backpage-banner .views-field-field-images > .field-content h1.title span {
    margin-left: 15px;
  }

  .not-front .block-system-breadcrumb-block ol li.breadcrumb-item {
    font-size: 12px;
  }

  .not-front .block-system-breadcrumb-block ol li.breadcrumb-item a {
    font-size: 12px;
  }


}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  .backpages-banner-wrapper,
  .view-backpage-banner .views-field-field-images > .field-content {
    margin-bottom: 50px;
  }

  .not-front .block-system-breadcrumb-block {
    margin: 0 auto;
    position: absolute;
    left: 60px;
    right: 0;
    bottom: 15px;
    background: transparent;
  }

  .not-front .block-system-breadcrumb-block ol li.breadcrumb-item a {
    color: #FFF;
  }

  .not-front .block-system-breadcrumb-block ol li.breadcrumb-item.active,
  .not-front .block-system-breadcrumb-block ol li.breadcrumb-item:before {
    color: #FFF;
  }


}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }

  .backpages-banner-wrapper h1.title,
  .view-backpage-banner .views-field-field-images > .field-content h1.title {
    padding: 0;
  }

  .not-front h1.title {
    letter-spacing: 5px;
  }

  .not-front h1.title {
    font-size: 36px;
    line-height: 45px;
  }
}

@media (min-width: 1366px) {
  .not-front .block-system-breadcrumb-block {
    bottom: 30px;
  }
}


/* MAIN WRAPPER */

  .not-front .layout-main-wrapper {
    margin-bottom: 100px;
  }

  .not-front .layout-main-wrapper {
    margin-bottom: 50px;
  }

  .flex-grow-1 {
    flex-grow: 1 !important;
  }

  div {
    max-width: 100%;
  }

  .hidden {
    display: none;
  }

  .layout--twocol-bricks {
    display: flex;
    flex-wrap: wrap;
  }

  .layout--twocol-bricks > .layout__region {
    flex: 0 1 100%;
  }

  .clearfix::after {
    display: block;
    clear: both;
    content: "";
  }

/* TAXONOMY */
  .vocabulary-services .field--name-description {
    font-size: 21px;
    line-height: 30px;
    font-weight: 300;
  }

  .view-header .section-header {
    text-align: center;
    letter-spacing: 5px;
    color: #282649;
    margin: 50px 0 25px;
    font-weight: 900;
    font-size: 18px;
  }

  .tab-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .tab-links {
    width: 35%;
    overflow-x: hidden;
  }

  .tab-links, .tab-contents {
    max-height: 550px;
  }

  .tab-links .tablink {
    width: 100%;
    border: 0;
    color: #FFF;
    text-transform: uppercase;
    padding: 10px;
    font-size: 10px;
    line-height: 22px;
    text-align: left;
    position: relative;
    background: #983738;
  }

  .tab-links .tablink:first-of-type.tab-active {
    border-top: 1px solid #DDD;
  }

  .tab-links .tablink.tab-active, .tab-links .tablink.tab-active:hover {
    background: #FFF;
    color: #983738;
    border-left: 1px solid #DDD;
  }

  button {
    border-radius: 0;
  }

  input, button, select, optgroup, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }

  button, input {
    overflow: visible;
  }

  button, select {
    text-transform: none;
  }

  button, [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button;
  }

  button:not(:disabled),
  [type="button"]:not(:disabled),
  [type="reset"]:not(:disabled),
  [type="submit"]:not(:disabled) {
    cursor: pointer;
  }

  p {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  p, p:last-of-type {
    margin-bottom: 0;
  }

  .tab-links .tablink:before {
    position: absolute;
    width: 85%;
    height: 1px;
    background: #c3595a;
    bottom: 0;
    content: "";
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  .tab-links .tablink.tab-active:before,
  .tab-links .tablink.tab-active:hover:before {
    height: 0;
  }

  .tab-links .tablink.tab-active:after,
  .tab-links .tablink.tab-active:hover:after {
    content: "";
    position: absolute;
    top: 0;
    right: -3px;
    height: 100%;
    width: 6px;
    background: #FFF;
  }

  .tab-contents {
    width: 65%;
    padding: 15px;
    border: 1px solid #DDD;
    position: relative;
  }

  .tab-links, .tab-contents {
    max-height: 550px;
  }

  .tab-contents:before {
    content: "";
    position: absolute;
    width: 1px;
    background: #DDD;
    bottom: 0;
    left: 0;
  }

  .tab-contents .tabcontent {
    display: none;
  }

  .tab-contents .tabcontent.tab-active {
    display: block;
  }


  @media (min-width: 768px) {
    .vocabulary-services .field--name-description {
      text-align: justify;
    }

    .view-header .section-header {
      font-size: 28px;
      margin: 150px 0 50px;
    }

    .tab-links .tablink {
      padding: 30px;
      font-size: 15px;
      line-height: 27px;
    }

    .tab-contents {
      padding: 60px;
    }
  }

/* OUR SOLUTIONS */
  #block-views-our-solutions.block h2 {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: normal;
    color: #983738;
    font-weight: 800;
    letter-spacing: 3px;
  }

  @media (min-width: 560px) {
    #block-views-our-solutions.block h2 {
      font-size: 25px;
      line-height: 33px;
    }
  }

  @media (min-width: 1200px) {
    #block-views-our-solutions.block h2 {
      font-size: 36px;
      line-height: 45px;
    }
  }

  @media (min-width: 768px) {
    #block-views-our-solutions.block h2 {
      margin-bottom: 30px;
      letter-spacing: 5px;
      font-weight: 400;
    }
  }

  .view-our-solutions {
    background-color: #282649;
    align-items: center;
  }

  .block-views-our-solutions .view-our-solutions > .view-content {
    table-layout: fixed;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .block-views-our-solutions .view-our-solutions > .view-content .block-solution-item {
    display: block;
    width: 100%;
    position: relative;
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
  }

  .block-views-our-solutions .view-our-solutions > .view-content .block-solution-item:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #282649;
    z-index: 10;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .block-views-our-solutions .view-our-solutions > .view-content .block-solution-item .views-field-title {
    padding: 50px;
    color: #FFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: -1px;
  }

  .block-views-our-solutions .view-our-solutions > .view-content .block-solution-item .field-content {
    max-width: 100%;
  }

  .block-views-our-solutions .view-our-solutions > .view-content .block-solution-item .our-solutions-wrapper {
    z-index: 500;
    position: relative;
    top: 40%;
    left: 0;
    width: 90%;
    margin: 0 auto;
  }

  .block-views-our-solutions .view-our-solutions > .view-content a {
    color: #ffffff;
    text-decoration: none;
  }

  .block-views-our-solutions .view-our-solutions > .view-content a:hover {
    text-decoration: none;
  }

  .block-views-our-solutions .view-our-solutions > .view-content .block-solution-item .our-solutions-wrapper-icon {
    margin-bottom: 15px;
  }

  .block-views-our-solutions .view-our-solutions > .view-content .block-solution-item .our-solutions-wrapper-icon img {
    max-width: 75px;
    min-width: 75px;
  }

  .block-views-our-solutions .view-our-solutions > .view-content .block-solution-item .our-solutions-wrapper-title {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 18px;
    padding: 0 5px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  p, p:last-of-type {
    margin-bottom: 0;
  }

  .block-views-our-solutions .view-our-solutions > .view-content .block-solution-item .our-solutions-wrapper-content img {
    width: 80px;
    height: auto;
  }




  @media (min-width: 768px) {
    .block-views-our-solutions .view-our-solutions > .view-content .block-solution-item {
      display: flex;
      flex-wrap: wrap;
      width: 50%;
    }
  }

  @media (min-width: 992px) {
    .block-views-our-solutions .view-our-solutions > .view-content {
      display: table;
      flex-wrap: unset;
    }

    .block-views-our-solutions .view-our-solutions > .view-content .block-solution-item {
      display: table-cell;
      flex-wrap: unset;
      width: 33.33%;
      height: 300px;
    }

    /* .block-views-our-solutions .view-our-solutions > .view-content .block-solution-item {
      height: 470px;
    } */

    .block-views-our-solutions .view-our-solutions > .view-content .block-solution-item:hover {
      width: 70%;
    }


    .block-views-our-solutions .view-our-solutions > .view-content .block-solution-item:hover:before {
      background: #1f1d38;
    }

    .block-views-our-solutions .view-our-solutions > .view-content .block-solution-item .views-field-title {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 100%;
      padding: 30px;
    }

    .block-views-our-solutions .view-our-solutions > .view-content .block-solution-item .our-solutions-wrapper-icon img {
      max-width: 80px;
      min-width: 80px;
    }

    .block-views-our-solutions .view-our-solutions > .view-content .block-solution-item .our-solutions-wrapper-content {
      opacity: 0;
      height: 0;
      width: 600px;
      position: relative;
      top: 30px;
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }

    .block-views-our-solutions .view-our-solutions > .view-content .block-solution-item:hover .our-solutions-wrapper-content {
      opacity: 1;
      height: 100px;
      top: 0;
      transition: all 0.3s ease-out;
    }

    .block-views-our-solutions .view-our-solutions > .view-content .block-solution-item .our-solutions-wrapper-content p {
      position: relative;
      opacity: 0;
      top: 15px;
    }

    .block-views-our-solutions .view-our-solutions > .view-content .block-solution-item:hover .our-solutions-wrapper-content p {
      opacity: 1;
      top: 0;
      transition: opacity 0.3s ease-out 0.3s,top 0.3s ease-out 0.3s;
    }

    .block-views-our-solutions .view-our-solutions > .view-content .block-solution-item .our-solutions-wrapper-content img {
      visibility: hidden;
      opacity: 0;
      justify-content: center;
      padding-top: 0;
      position: relative;
      left: -20px;
    }

    .block-views-our-solutions .view-our-solutions > .view-content .block-solution-item:hover .our-solutions-wrapper-content img {
      opacity: 1;
      height: 100%;
      visibility: visible;
      left: 0;
      transition: opacity 0.3s ease-out 0.3s,left 0.3s ease-out 0.3s;
    }
  }

  @media (min-width: 1024px) {
    .block-views-our-solutions .view-our-solutions > .view-content .block-solution-item .our-solutions-wrapper-title {
      font-size: 20px;
    }
  }

  @media (min-width: 1200px) {
    .block-views-our-solutions .view-our-solutions > .view-content .block-solution-item {
      height: 470px;
    }

    .block-views-our-solutions .view-our-solutions > .view-content .block-solution-item .our-solutions-wrapper-icon img {
      max-width: 97px;
      min-width: 97px;
    }

    .block-views-our-solutions .view-our-solutions > .view-content .block-solution-item:nth-of-type(1) .our-solutions-wrapper-title,
    .block-views-our-solutions .view-our-solutions > .view-content .block-solution-item:nth-of-type(3) .our-solutions-wrapper-title {
      display: block;
      width: 250px;
      margin: 0 auto;
    }
  }
